body
{
	background-color: #000;
	text-align: center;
}

div
{
}

.page
{
	display: inline-block;
	border: 1px solid white;

}

.card
{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 5px;
}

.card *
{
	-webkit-backface-visibility: hidden;
}

.card .front {
	position: absolute;
	width: 100px;
	height: 100px;
-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.card .front img {
	xdisplay: inline-block;
	xvertical-align: center;
	-webkit-backface-visibility: hidden;
	position: absolute;
	left: -10px;
	top: -10px;
	width: 120px;
	height: 120px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.card .back {
	position: absolute;
	width: 100px;
	height: 100px;

	background: url('../img/bg-card.jpg') no-repeat 0 0;
	xdisplay:none;
	-webkit-transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1 {
	xz-index: 9999;
}
