body
{
	background-color: #000;
	text-align: center;
}

div
{
	border:
}

.page
{
	display: inline-block;
	border: 1px solid white;

}

.card
{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 5px;
	border: 1px solid red;
}
.card *
{
	-webkit-backface-visibility: hidden;
}

.card .front {
	position: absolute;
	width: 100px;
	height: 100px;
}

.card .front img {
	xdisplay: inline-block;
	xvertical-align: center;
	-webkit-backface-visibility: hidden;
}

.card .back {
	position: absolute;
	width: 100px;
	height: 100px;

	background: url('img/bg-card.jpg') no-repeat 0 0;
	xdisplay:none;
	-webkit-transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
}

h1 {
	xz-index: 9999;
}